{% extends 'SecretPartyCoreBundle:Admin:template.html.twig' %}

{% block title %}{% trans %}Thematic edit{% endtrans %} {{ entity.name }}{% endblock %}
{% block section %}{% trans %}Thematic{% endtrans %}{% endblock %}
{% block content -%}
<div class="module_content">

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name) }}
    <h3>{% trans %}Secrets{% endtrans %}</h3>
    <ul class="secrets" data-prototype="{{ form_widget(edit_form.secrets.vars.prototype)|e }}">
        {# iterate over each existing secret #}
        {% for secret in edit_form.secrets %}
            <li class="secret"><div>{{ form_row(secret.name) }}</div>
                <div>{{ form_row(secret.hint) }}</div></li>
        {% endfor %}
    </ul>
    {%  do edit_form.secrets.setRendered %}
    {{ form_end(edit_form) }}
</div>
{% endblock %}

{% block end_header %}
    <ul class="tabs">
        <li><a href="{{ path('admin_thematic') }}">
                {% trans %}Back{% endtrans %}
            </a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}