{% extends 'SecretPartyCoreBundle:Admin:template.html.twig' %}

{% block title %}{% trans %}Thematic creation{% endtrans %}{% endblock %}
{% block section %}{% trans %}Thematic{% endtrans %}{% endblock %}
{% block content -%}
<div class="module_content">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <h3>{% trans %}Secrets{% endtrans %}</h3>
        <ul class="secrets" data-prototype="{{ form_widget(form.secrets.vars.prototype)|e }}">
            {# iterate over each existing secret #}
            {% for secret in form.secrets %}
                <li class="secret"><div>{{ form_row(secret.name) }}</div>
                <div>{{ form_row(secret.indication) }}</div></li>
            {% endfor %}
        </ul>
    {%  do form.secrets.setRendered %}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block end_header %}
    <ul class="tabs">
        <li><a href="{{ path('admin_thematic') }}">
                {% trans %}Back{% endtrans %}
            </a></li>
    </ul>
{% endblock %}

{% block end_js %}
    <script src="{{ asset('bundles/secretpartycore/js/collection.js') }}" type="text/javascript"></script>
{% endblock %}