{% extends 'SecretPartyCoreBundle:Admin:template.html.twig' %}

{% block title %}{% trans %}Thematic{% endtrans %} {{ entity.name }}{% endblock %}
{% block section %}{% trans %}Thematic{% endtrans %}{% endblock %}
{% block content -%}
<div class="tab_container">
    <div class="tab_content">
        <table class="tablesorter" cellspacing="0">
            <tbody>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Secrets{% endtrans %}</th>
                    <td>
                        <ul>
                            {% for secret in entity.secrets %}
                            <li>{{ secret.name }} - {{ secret.indication }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block end_header %}
    <ul class="tabs">
        <li>
            <a href="{{ path('admin_thematic') }}">
                {% trans %}Back{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_thematic_edit', { 'id': entity.id }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
