<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{% trans %}Secret party server{% endtrans %} - {{ block('title') }}</title>

    <link rel="stylesheet" href="{{ asset('bundles/secretpartycore/css/layout.css') }}" type="text/css" media="screen" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>


<body>

<header id="header">
    <hgroup>
        <h1 class="site_title"><a href="index.html">{% trans %}Secret Party Admin{% endtrans %}</a></h1>
        <h2 class="section_title">{{ block('section') }}</h2><div class="btn_view_site"><a href="{{ path('nelmio_api_doc_index') }}">{% trans %}View api doc{% endtrans %}</a></div>
    </hgroup>
</header> <!-- end of header bar -->

<section id="secondary_bar">
    <div class="user">
        <p>John Doe</p>
        <a class="logout_user" href="#" title="{% trans %}Logout{% endtrans %}">{% trans %}Logout{% endtrans %}</a>
    </div>
</section><!-- end of secondary bar -->

<aside id="sidebar" class="column">
    {{ knp_menu_render('main',{ 'template': 'SecretPartyCoreBundle:Admin:menu.html.twig'}) }}

    <footer>
        <hr />
        <p><strong>Copyright &copy; 2011 Website Admin</strong></p>
        <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
    </footer>
</aside><!-- end of sidebar -->

<section id="main" class="column">

<article class="module width_full">
    <header>
        <h3 class="tabs_involved">{{ block('title') }}</h3>
    {{ block('end_header') }}
    </header>
    {% block content %}{% endblock %}
    <div class="clear"></div>
</article><!-- end of article -->

<div class="spacer"></div>
</section>

<script src="{{ asset('bundles/secretpartycore/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/secretpartycore/js/hideshow.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/secretpartycore/js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/secretpartycore/js/jquery.equalHeight.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function()
            {
                $(".tablesorter").tablesorter();
            }
    );
    $(document).ready(function() {


    });
</script>
<script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>
{{ block('end_js') }}
</body>

</html>